<!--#Laura Maisenhelder, lmm326@drexel.edu  
#CS530: Project-->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading">Adalita the Alpaca</h1>
        <p class="lead text-muted">Help her find her family!</p>
       <a href="/game"><img src="course/img/mtn_alpaca.jpg"> </td><td> <img src="course/img/lake_alpaca.jpg" style=max-height:200px; hspace="30"> </td><td> <img src="course/img/forest_alpaca.jpg" style=max-height:200px;> </td>
		
		</tbody>
    </div>
</section>

{% endblock %}